/****************** COLOR PALETTE ************************/

:root {
  --black: #141b1e;
	--black1: #232a2d;
  --white: #dadada;
  --red: #e57474;
  --green: #75cf72;
  --yellow: #e0ba63;
  --blue: #67b0e8;
  --cyan: #6cbfbf;
  --magenta: #c47fd5;
  --lavender: #bab3e6;
  --sky-blue: #5db7cb;
  --pink: #ee9cdd;
  --teal: #8ad8ef;
  --orange: #e3a04f;
}

/********************************************************/



::placeholder {
	color: #ccc;
	font-size: 16px;
	font-family: roboto;
}

* {
	font-family: roboto;
	outline: none;
	box-sizing: border-box;
	color: var(--white);
}

body {
	background-color: #181f21;
}

a {
	text-decoration: none;
}

#main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

#container {
	background-color: var(--black1);
	border-radius: 4px;
	padding: 10px;
	display: flex;
	justify-content: center;
	vertical-align: middle;
	align-items: center;
}

ul {
	list-style: none;
	padding: 0px;
}

ul li {
	margin: 15px;
}

form {
	display: flex;
	align-items: center;
	vertical-align: middle;
	justify-content: center;
}

form input {
	width: 450px;
	border: none;
	color: var(--white);
	border-bottom: 2px solid var(--white);
	padding: 14px 24px;
	transition: 0.15s;
	background-color: transparent;
	font-size: 16px;
}

form input:focus {
	border-color: var(--teal);
}



/*************** FOR SMALL WINDOW *************************/

@media screen and (max-height: 400px)
{
	#main {
		transform: translateX(-50%) translateY(0%);
		top: 0;
	}
}

/********************************************************/



/******************** BUTTONS ****************************/

.fa-brands {
  border-radius: 5px;
  padding: 15px;
	display: inline-block;
	font-size: 30px;
}

.fa-github {
  background-color: var(--black);
}

.fa-free-code-camp {
  background-color: var(--magenta);
  color: var(--black);
}

.fa-hackerrank {
  background-color: var(--white);
  color: var(--black);
}

.fa-reddit {
  background-color: var(--orange);
  color: var(--black);
}

.fa-youtube {
  background-color: var(--red);
  color: var(--white);
}
.fa-spotify {
  background-color: var(--green);
  color: var(--black);
}

.fa-discord {
  background-color: var(--magenta);
  color: var(--black);
}

.fa-codepen {
  background-color: var(--black);
  color: var(--white);
}

.fa-stack-overflow {
  background-color: var(--yellow);
  color: var(--black);
  padding: 15px 20px;
}

.fa-hacker-news {
  background-color: var(--green);
  color: var(--white);
}

/********************************************************/